{{#with stone}}
    <main class="details">
        <!-- Details page -->
        <section id="details">
            <div id="details-wrapper">
                <p id="details-title">Name: Beryl</p>
                <div id="img-wrapper">
                    <img src="{{imageURL}}" />
                </div>
                <div id="info-wrapper">
                    <table>
                        <tr>
                            <td>
                                <p>
                                    Category:
                                    <span
                                        id="details-category"
                                    >{{category}}</span>
                                </p>
                            </td>
                            <td>
                                <p>Color:
                                    <span
                                        id="details-color"
                                    >{{color}}</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Location:
                                    <span
                                        id="details-location"
                                    >{{location}}</span></p>
                            </td>
                            <td>
                                <p>Formula:
                                    <span
                                        id="details-formula"
                                    >{{formula}}</span></p>
                            </td>
                        </tr>
                    </table>
                    <p>Description:
                        <span
                            id="details-description"
                        >{{description}}</span></p>
                </div>

                <!--Edit and Delete are only for creator-->
                {{!-- {{#if hasUser}}TODO --}}
                <div id="action-buttons">
                    {{#if isAuthor}}
                        <a href="/edit/{{_id}}" id="edit-btn">Edit</a>
                        <a href="/delete/{{_id}}" id="delete-btn">Delete</a>
                    {{else}}
                        {{! TODO ask where we got a reference to hasLiked...code not complete }}
                        {{#if hasLiked}}
                            <p id="already-liked">You already liked this stone!</p>
                        {{else}}
                            {{! TODO write the correct link for the like button }}
                            <a href="/like/{{_id}}" id="like-btn">Like</a>
                        {{/if}}
                    {{/if}}
                </div>
                {{!-- {{/if}} --}}
            </div>
        </section>
    </main>
{{/with}}